[Unit]
Description=Jukebox

[Service]
Type=simple
WorkingDirectory=/home/pi/jukebox
ExecStart=/usr/bin/python3 remote.py
Restart=always

[Install]
WantedBy=default.target
