[Unit]
Description=Jukebox Bluetooth Init

[Service]
Type=oneshot
WorkingDirectory=/home/pi/jukebox
ExecStart=/usr/bin/bash bluetooth.sh -i

[Install]
WantedBy=default.target
